---
import Hero from "@components/Hero.astro";
import Content from "@components/Content.astro";
import Steps from "@components/Steps.astro";
import Skill from "@components/Skill.astro";
import CallToAction from "@components/CallToAction.astro";
import Layout from "@layouts/PageLayout.astro";

import ProfilePhoto from "../assets/images/profile.jpg";
import AboutPhoto from "../assets/images/about.jpg";

const profileName = "Maximiliano Neira";

const myCarouselImages = [
  {
    src: "https://picsum.photos/id/1018/1200/800",
    alt: "Beautiful landscape with a lake and mountains",
  },
  {
    src: "https://picsum.photos/id/1015/1200/800",
    alt: "Sandy beach with turquoise water",
  },
  {
    src: "https://picsum.photos/id/1025/1200/800",
    alt: "Cute pug dog looking at the camera",
  },
  {
    src: "https://picsum.photos/id/1040/1200/800",
    alt: "Misty forest path in the morning",
  },
];

const portfolioSectionTitle = "Elevating visual narratives";
const portfolioSectionSubtitle =
  "Embark on a design journey that surpasses pixels, entering a realm of imagination. Explore my portfolio, where passion and creativity converge to shape enthralling visual narratives.";

const projects = [
  {
    id: "la-casa-de-hojas",
    projectTitleHTML: "La Casa de Hojas :",
    description: `"La Casa de Hojas" es una instalación artística que explora la historia de un individuo cuya casa crece de manera expansiva y descontrolada con el paso del tiempo. A medida que los años transcurren, el residente descubre nuevos pasillos, habitaciones y pisos, cada uno con estilos arquitectónicos notablemente distintos. Esta narrativa refleja el crecimiento descontrolado de una ciudad o la urbanización a través de la experiencia de este personaje que habita en un espacio extraño y en constante cambio.`,
    href: "/portfolio/la-casa-de-hojas",
  },
  {
    id: "ciudad-latente",
    projectTitleHTML: "Ciudad Latente:",
    description: `A través de un recorrido contemplativo observamos como el olvidado humedal de batuco es amenazado por la urbanización y la invasión del hombre guiado por una persona que nació y se crío en el pueblo. Para retratar esta amenaza se hizo uso del simbolismo, a traves de la creación de una maqueta que representará la ciudad capitalista y diversos elementos que generarán contra punto visual.`,
    href: "/portfolio/ciudad-latente",
  },
  {
    id: "inhumano",
    projectTitleHTML: "Inhumano: <br />",
    description: `El proyecto "Inhumano" es un cortometraje que planea mostrar lo más bajo del ser humano , por lo cual se usará un lenguaje visual enfocado en el ambiente y la atmósfera que produce la misma sobre el espectador . Para el lugar se barajaron varias ideas , pero se decidió por la idea más arriesgada , hacer la escenografía, reutilizando materiales , madera y pintura.

        Para la ambientación se recurrió a materiales que dieran texturas pobre y vieja , se quería crear un ambiente descuidado y sucio. Tanto el espacio como la caracterización de los personajes , buscaban potenciar esta idea distopica y noir.`,
    href: "/portfolio/inhumano",
  },
  {
    id: "retrato-oval",
    projectTitleHTML: "Retrato Oval:",
    description: `Un estudiante de arcos busca contactar con el artista (Boisvert) que lo inspiro a dedicarse al cine y la animación, un viaje a la admiración que lentamente se transforma en obsesión con el paso de los días.

        La escenografía está decorada por ilustraciones del artista mr.Doodle en combinación con las obras del mismismo Boisvert
        El tratamiento se piensa en lo estético de la imagen, y en la importancia de este mundo que muchas veces se nos presenta en blanco y negro. Tanto la simbología de Boisvert y la estética de Doodle, profundizan con el relato, generándole forma y estructura visual acorde a lo que se quiere demostrar.`,
    href: "/portfolio/retrato-oval",
  },
  {
    id: "inhumano-santiago",
    projectTitleHTML:
      'Inhumano: <br /><span class="text-2xl">En un Santiago desolador y decadente</span>',
    description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
    href: "/portfolio/inhumano-santiago",
  },
];
---

<Layout>
  <Hero
    id="hero"
    title={profileName}
    image={{
      src: ProfilePhoto,
      alt: "Tech Design Image",
      width: 281,
      height: 156,
    }}
  >
    <Fragment slot="subtitle">
      I'm a Graphic Designer passionate about crafting visual stories. <br /> With
      5 years of experience and a degree from New York University's School of Design.
      I infuse vitality into brands and designs, transforming concepts into captivating
      realities.
    </Fragment>
  </Hero>
  <Content
    id="about"
    columns={3}
    image={{
      src: AboutPhoto,
      alt: "About Me Image",
    }}
  >
    <Fragment slot="content">
      <h1
        class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
        set:html={"About Me"}
      />
      <p>
        I'm a Graphic Designer passionate about crafting visual stories. <br /> With
        5 years of experience and a degree from New York University's School of Design.
        I infuse vitality into brands and designs, transforming concepts into captivating
        realities.
      </p>
    </Fragment>
  </Content>

  <!-- Steps  -->
  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Graphic Designer <br /> <span class="font-normal">ABC Design Studio, New York, NY</span> <br /> <span class="text-sm font-normal">2021 - Present</span>',
        description: `Collaborate with clients to understand design requirements and objectives. <br /> Develop branding solutions, including logos, color palettes, and brand guidelines. <br /> Design marketing materials such as brochures, posters, and digital assets. <br /> Create visually appealing user interfaces for websites and applications.`,
        icon: "tabler:briefcase",
        classes: {
          title: "dark:text-white",
          description: "dark:text-gray-400",
        },
      },
      {
        title:
          'Junior Graphic Designer <br /> <span class="font-normal">XYZ Creative Agency, Los Angeles, CA</span> <br /> <span class="text-sm font-normal">2018 - 2021</span>',
        description: `Assisted senior designers in creating design concepts and visual assets. <br /> Contributed to the development of brand identities and marketing collateral. <br /> Collaborated with the marketing team to ensure consistent design across campaigns. <br /> Gained hands-on experience in various design software and tools.`,
        icon: "tabler:briefcase",
        classes: {
          title: "dark:text-white",
          description: "dark:text-gray-400",
        },
      },
    ]}
    classes={{ container: "max-w-3xl", items: "dark:text-white" }}
  />

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master of Fine Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
        icon: "tabler:school",
        classes: {
          title: "dark:text-white",
          description: "dark:text-gray-400",
        },
      },
      {
        title: `Bachelor of Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
        icon: "tabler:school",
        classes: {
          title: "dark:text-white",
          description: "dark:text-gray-400",
        },
      },
    ]}
    classes={{ container: "max-w-3xl" }}
  />

  <!-- Skills -->
  <Skill
    id="skills"
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through design."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: "Graphic design",
        description:
          "Proficient in crafting visually appealing designs that convey messages effectively.",
        classes: {
          title: "dark:text-white",
          description: "dark:text-gray-400",
        },
      },
      {
        title: "Branding and identity",
        description:
          "Skilled at developing cohesive brand identities, including logos and brand guidelines.",
        classes: {
          title: "dark:text-white",
          description: "dark:text-gray-400",
        },
      },
      {
        title: "User-centered design",
        description:
          "Experienced in creating user-friendly interfaces and optimizing user experiences.",
        classes: {
          title: "dark:text-white",
          description: "dark:text-gray-400",
        },
      },
      {
        title: "Adobe Creative Suite",
        description:
          "Skilled in using Photoshop, Illustrator, and InDesign to create and edit visual elements.",
        classes: {
          title: "dark:text-white",
          description: "dark:text-gray-400",
        },
      },
      {
        title: "Typography",
        description:
          "Adept in selecting and manipulating typefaces to enhance design aesthetics.",
        classes: {
          title: "dark:text-white",
          description: "dark:text-gray-400",
        },
      },
      {
        title: "Color theory",
        description:
          "Proficient in using color to evoke emotions and enhance visual harmony.",
        classes: {
          title: "dark:text-white",
          description: "dark:text-gray-400",
        },
      },
      {
        title: "Print and digital design",
        description:
          "Knowledgeable in designing for both print materials and digital platforms.",
        classes: {
          title: "dark:text-white",
          description: "dark:text-gray-400",
        },
      },
      {
        title: "Attention to detail",
        description:
          "Diligent in maintaining precision and quality in all design work.",
        classes: {
          title: "dark:text-white",
          description: "dark:text-gray-400",
        },
      },
      {
        title: "Adaptability",
        description:
          "Quick to adapt to new design trends, technologies, and client preferences.",
        classes: {
          title: "dark:text-white",
          description: "dark:text-gray-400",
        },
      },
    ]}
  />
  <!-- Projects -->
  {
    projects.map((project, index) => (
      <Content
        id={index === 0 ? "porfolio" : undefined}
        title={index === 0 ? portfolioSectionTitle : undefined}
        subtitle={index === 0 ? portfolioSectionSubtitle : undefined}
        isReversed={true}
        isAfterContent={index !== 0}
        items={[
          {
            title: "Description:",
            description: project.description,
          },
        ]}
        image={myCarouselImages}
        callToAction={{
          text: "Ver proyecto",
          icon: "tabler:chevron-right",
          href: project.href,
        }}
      >
        {" "}
        <Fragment slot="content">
          <h3
            class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
            set:html={project.projectTitleHTML}
            transition:name={`title-${project.id}`}
            transition:animate="fade"
          />
          <div transition:name={`description-${project.id}`} class="hidden" />
        </Fragment>
        <Fragment slot="image">
          <div
            transition:name={`image-${project.id}`}
            transition:animate="slide"
          >
            <img
              src={myCarouselImages[0].src}
              alt={myCarouselImages[0].alt}
              class="w-full h-auto rounded-lg shadow-lg"
            />
          </div>
        </Fragment>
        <Fragment slot="bg">
          <div class="absolute inset-0 bg-blue-50 dark:bg-transparent" />
        </Fragment>
      </Content>
    ))
  }

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: "primary",
        text: "Hire me",
        href: "/",
      },
    ]}
  />
</Layout>
