---
import { Image } from "astro:assets";

const {
  title = await Astro.slots.render("title"),
  subtitle = await Astro.slots.render("subtitle"),
  tagline,

  content = await Astro.slots.render("content"),
  actions = await Astro.slots.render("actions"),
  image = await Astro.slots.render("image"),
  paragraph = await Astro.slots.render("paragraph"),

  id,
  bg = await Astro.slots.render("bg"),
} = Astro.props;

// Determinar el tipo de contenido de la imagen
const isImageObject = typeof image === "object" && image !== null && image.src;
const isImageString = typeof image === "string" && image.trim() !== "";
const hasImage = isImageObject || isImageString;
---

<div class="relative max-w-7xl mx-auto px-4 sm:px-6">
  <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
  <div class="py-12 md:py-20">
    {/* Contenedor principal para imagen y texto */}
    {/* Aplicar flex-col-reverse para móvil y md:flex-row para escritorio */}
    <div class="flex flex-col-reverse md:flex-row md:items-center md:gap-8">
      {/* Columna de la imagen (izquierda en escritorio, abajo en móvil) */}
      {
        isImageObject ? (
          <div class="w-full md:w-1/2 mt-8 md:mt-0 flex justify-center intersect-once intercept-no-queue intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
            {/* Aplicar max-width al div contenedor de la imagen */}
            <div class="relative m-auto" style={`max-width: ${image.width}px;`}>
              <Image
                class="rounded-md"
                src={image.src}
                alt={image.alt || ""}
                width={image.width || 1024}
                height={image.height || 576}
                style="display: block; width: 100%; height: auto;"
              />
            </div>
          </div>
        ) : isImageString ? (
          <div class="w-full md:w-1/2 mt-8 md:mt-0 intersect-once intercept-no-queue intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
            <div class="relative m-auto max-w-full md:max-w-none">
              <Fragment set:html={image} />
            </div>
          </div>
        ) : null
      }

      {/* Columna del contenido (derecha en escritorio, arriba en móvil) */}
      <div
        class:list={["w-full md:w-1/2", { "text-center md:text-left": image }]}
      >
        {/* Alineación condicional */}
        <div class:list={["pb-10 md:pb-16", { "max-w-5xl mx-auto": !image }]}>
          {
            tagline && (
              <p
                class:list={[
                  "text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade",
                  { "md:text-left": image },
                ]}
                set:html={tagline}
              />
            )
          }
          {
            title && (
              <h1
                class:list={[
                  "text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade",
                  { "md:text-left": image },
                ]}
                set:html={title}
              />
            )
          }
          <div
            class:list={[{ "max-w-3xl": !image, "mx-auto": !image || !image }]}
          >
            {/* Ajuste de max-w y mx-auto si hay imagen */}
            {
              subtitle && (
                <p
                  class:list={[
                    "text-xl text-muted  dark:text-slate-300 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade",
                    { "md:text-left": image },
                  ]}
                  set:html={subtitle}
                />
              )
            }

            {/* Renderizar el párrafo si existe */}
            {
              paragraph && (
                <div class="mt-4">
                  <p
                    class:list={[
                      "text-muted dark:text-slate-300 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade",
                      { "md:text-left": image },
                    ]}
                  >
                    <Fragment set:html={paragraph} />
                  </p>
                </div>
              )
            }
          </div>
          {content && <Fragment set:html={content} />}
          {/* Renderizar acciones si existen */}
          {
            actions && (
              <div
                class:list={[
                  "mt-8 flex flex-col sm:flex-row sm:justify-center items-start sm:items-center sm:gap-4",
                  {
                    "md:justify-start": hasImage,
                    "justify-center": !hasImage,
                  },
                ]}
              >
                <Fragment set:html={actions} />
              </div>
            )
          }
        </div>
      </div>
    </div>
  </div>
</div>
